/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
*.log
*.cache
.DS_Store
Thumbs.db
/credentials
/server/.env
/storage/logs/*.log
/bootstrap/cache/*.php
/public/themes
/public/storage
/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
!/.gitkeep
